<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Malik Blog</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/author.css" %}">
    <link rel="stylesheet" href="{% static "css/post.css" %}">
</head>
<body>

    <header>
    <nav>
        <a href="/">
            <img src="{% static "/img/Blog-removebg-preview.png" %}" alt="blog" loading="lazy">
        </a>
        <form action="{% url "search" %}">
            <input type="search" placeholder="Search Stories" name='q'>
        </form>
        <ul>
            <li>
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512">
                        <path
                            d="M0 48V487.7C0 501.1 10.9 512 24.3 512c5 0 9.9-1.5 14-4.4L192 400 345.7 507.6c4.1 2.9 9 4.4 14 4.4c13.4 0 24.3-10.9 24.3-24.3V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48z" />
                    </svg>
                </a>
            </li>
            <li>
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                        <path
                            d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z" />
                    </svg>
                </a>
            </li>
            <li>
                <button>
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                        <path
                            d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z" />
                    </svg>
                </button>
                <ul id="drop">
                    <li><a href="#">sign in</a></li>
                    <li><a href="#">sign up</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <ul>
        {% for cat in featured_cats %}
        <li><a href="#">{{cat.title}}</a></li>
        {% endfor %}
        
    </ul>
    </header>
    {% block main %}    {% endblock main %}

    <footer>
        <div>
            <h2>Subscribe The Hours News Letter</h2>
            <form action="{% url "subscribe" %}">
                <input type="email" name='email' placeholder="Enter Your Email">
                <button>Subscribed</button>
            </form>
        </div>
        <h2>&copy; 2023. All rights reserved </h2>
    </footer>
</body>

</html>